h1, p, label, select {
  font-family: Lato;
  color: #303030;
}

/*start checkbox def*/

.container {
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0px;
  height: 0.6em;
  width: 0.6em;
  border: 1px solid #303030;
  background-color: #ffffff;
  border-radius: 20%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  border: 1px solid #0078d7;
}

.container:hover input:checked ~ .checkmark {
  border: 1px solid #0078d7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 2px;
  top: 0px;
  width: 3px;
  height: 6px;
  border: solid #303030;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container:hover .checkmark:after {
  left: 2px;
  top: 0px;
  width: 3px;
  height: 6px;
  border: solid #0078d7;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*end checkbox def*/

body {
  margin: 0;
}
.title{
  background-color: #dadada;
}
#title1{
  margin: auto;
  text-align: center;
  font-size: 36px;
  color: #0078d7;
}
#title2{
  margin: auto;
  text-align: center;
  font-size: 26px;
  color: #0078d7;
}
.hull{
  margin: auto;
  width: 166px;
}
#hullselect{
  width: 166px;
  border: 2px solid #0078d7;
  border-radius: 4px;
  font-weight: bold;
}
.equipselect{
  width: 215px;
  border: 1px solid #0078d7;
  border-radius: 4px;
  margin-right:1px;
  margin-left:1px;
}
#desi{
  width: 200px;
  border: 1px solid #dadada;
  border-radius: 4px;
}
#doct{
  width: 200px;
  border: 1px solid #dadada;
  border-radius: 4px;
}
.center{
  margin: auto;
  width:1519px;
}
.nojump{
  line-height:0;
}
.bold{
  font-weight: bold;
}
.grey{
  background-color: #dadada;
}
#picdiv{
  height: 200px
}.capital{
  margin-top: 20px;
  margin-left: -30px;
}
.pict{
  float: left;
  margin-left: 505px;
}
table{
  width:1519px;
}
td{
  width:57%;
}
#techno{
  width:868px;
}
.techno_cell{
  width:50%;
}
#stats{
  width:651px;
}
.stats_cell{
  width:33%;
}
.tech_names{
  line-height:1.4;
}
.button{
  text-align: center;
}
.urlbutton{
  border-radius:15px;
  background:#dadada;
  height: 25px;
  width:150px;
}
#inputcopy{
  width:0px;
  margin-left: -3000px;
}