h1, p, label, select {
  font-family: Lato;
  color: #181818;
}
body {
  margin: 0;
}
.title{
  background-color: #dadada;
}
#title1{
  margin: auto;
  text-align: center;
  font-size: 36px;
  color: #155a9b;
}#title2{
  margin: auto;
  text-align: center;
  font-size: 26px;
  color: #155a9b;
}select{
  width: 210px;
  border: 1px solid #155a9b;
}
.center{
  margin: auto;
  width:1470px;
}
.nojump{
  line-height:0;
}
.bold{
  font-weight: bold;
}
.grey{
  background-color: #dadada;
}
.pict{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
table{
  width:1470px;
}
td{
  width:57%;
}
#techno{
  width:840px;
}
.techno_cell{
  width:50%;
}
#stats{
  width:630px;
}
.stats_cell{
  width:33%;
}
.tech_names{
  line-height:1.4;
}