h1, p, label, select {
  font-family: Lato;
  color: #303030;
}
body {
  margin: 0;
}
.title{
  background-color: #dadada;
}
#title1{
  margin: auto;
  text-align: center;
  font-size: 36px;
  color: #0078d7;
}
#title2{
  margin: auto;
  text-align: center;
  font-size: 26px;
  color: #0078d7;
}
.hull{
  margin: auto;
  width: 166px;
}
#hullselect{
  width: 166px;
  border: 2px solid #0078d7;
  border-radius: 4px;
  font-weight: bold;
}
.equipselect{
  width: 215px;
  border: 1px solid #0078d7;
  border-radius: 4px;
  margin-right:1px;
  margin-left:1px;
}
#desi{
  width: 200px;
  border: 1px solid #dadada;
  border-radius: 4px;
}
#doct{
  width: 200px;
  border: 1px solid #dadada;
  border-radius: 4px;
}
.center{
  margin: auto;
  width:1519px;
}
.nojump{
  line-height:0;
}
.bold{
  font-weight: bold;
}
.grey{
  background-color: #dadada;
}
.pict{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
table{
  width:1519px;
}
td{
  width:57%;
}
#techno{
  width:868px;
}
.techno_cell{
  width:50%;
}
#stats{
  width:651px;
}
.stats_cell{
  width:33%;
}
.tech_names{
  line-height:1.4;
}